<template>
  <div class="d-flex flex-column align-items-center justify-content-center">
    <div class="fizzbuzz-panel">
      <div class="d-flex justify-content-around">
        <div class="col-5 d-flex flex-column">
          <label>Divsor</label>
          <input type="number" v-model="options.divisorOne" class="form-control" />
           <label>Phrase</label>
          <input v-model="options.divisorOnePhrase" class="form-control" />
        </div>

        <div class="col-5 d-flex flex-column ">
          <label>Divsor</label>
          <input type="number" v-model="options.divisorTwo" class="form-control" />
          <label>Phrase</label>
          <input v-model="options.divisorTwoPhrase" class="form-control"/>
        </div>
      </div>

      <div class="d-flex justify-content-center mt-3 align-items-center">
        <input type="number" v-model="value" class="form-control fizzbuzz-input" />
        <button v-on:click="translate" class="btn btn-primary">Translate!</button>
      </div>
    </div>
    <div class="mt-5">
      <h1 class="result-text">{{ translatedValue }}</h1>
    </div>
  </div>
</template>

<script lang="ts">
  import { Options, Vue } from "vue-class-component";
  import { FizzBuzz } from "@/lib/fizz-buzz";
  import { IOptions } from "@/lib/options";
  import { FizzBuzzDefaultOptions } from "@/lib/fizz-buzz-default-options";

  @Options({})
  export default class FizzBuzzComponent extends Vue {  
    private value = '';
    private translatedValue = "";
    private options: IOptions = {
      divisorOne: FizzBuzzDefaultOptions.divisorOne,
      divisorOnePhrase: FizzBuzzDefaultOptions.divisorOnePhrase,
      divisorTwo: FizzBuzzDefaultOptions.divisorTwo,
      divisorTwoPhrase: FizzBuzzDefaultOptions.divisorTwoPhrase
    };
    
    get fizzBuzz(): FizzBuzz {
      return new FizzBuzz(this.options);
    } 
    
    translate(): void {
      try {
        this.translatedValue = this.fizzBuzz.translate(Number(this.value));
      }catch(error) {
        this.translatedValue = error.message;
      }
    }
  }
</script>

<style scoped>
  .fizzbuzz-panel {
    width: 55%;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding: 20px;
  }

  input {
    margin: 10px;
  }

  label {
    font-weight: bolder;
  }

  .result-text {
    font-size: 100px;
    margin-top: 4 rem;
  }

  .btn {
    width: 100px;
  }

  .fizzbuzz-input {
    width: 60%;
  }
</style>
